<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Biofouling Inspection</title>
    <link rel="stylesheet" type="text/css" href="/assets/main.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src='/index.js'></script>

</head>

<body>
    
    <div class="section">
       
            <table >
                <thead>
                <tr>
                    <td class="noBorder" style="float:left" />
                     <div class="divHeader">
                          logo
                     </div>
                    </td>
                    <td class="noBorder" style="float:right">
                        <div class="divHeader">
                             logo
                     </div>
                    </td>
                </tr>
                </thead>
            </table>
            <p/>
       
        <h1>Report</h1>
        <p></p>
        <h2>{{data.vessel.displayName}}</h2>
        <p></p>
        <h2>Biofouling Inspection</h2>
        {{!-- {{{getImages attachments.0.fullUri}}} --}}
        <img src="./photos/ship.png" class="center" />

        {{!-- Load vessel picture here from stream/json or cdn --}}
        {{!-- {{{getImages attachments.0.fullUri}}} --}}
        <h2>Pacific Basin</h2>
        <p />
        <h3>{{todaysDate }} </h3> {{!-- add date formating here--}}

    </div>
    <div class="page">
        {{!-- TOC --}}
        <h4>Table of Contents is here</h4>        
    </div>
    <div class="page">
        <h4>1. PROJECT PARTICULARS</h4>
        <div class="table">
            <table>
                <tr>
                    <th colspan="3"></th>
                </tr>
                <td><b>PROJECT:</b></td>
                <td colspan="2">Biofouling Inspection</td>{{!-- is this dynamic--}}
                <tr>
                    <td><b>VESSEL DETAILS:</b></td>
                    <td><b>Vessel:</b></td>
                    <td>{{data.vessel.displayName}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Year Built:</b></td>
                    <td>2013</td> {{!--replace data from json--}}
                </tr>
                <tr>
                    <td></td>
                    <td><b>Lenght(m):</b></td>
                    <td>179.97m</td> {{!--replace data from json--}}
                </tr>
                <tr>
                    <td></td>
                    <td><b>IMO:</b></td>
                    <td>9628570</td> {{!--replace data from json--}}
                </tr>
                <tr>
                    <td><b>DATE OF INSPECTION:</b></td>
                    <td colspan="2">17th of December</td>{{!--replace data from json with date formatting--}}

                </tr>
                <tr>
                    <td><b>VISIBILITY:</b></td>
                    <td colspan="2">Ten (10) Meters</td>{{!--replace data from json --}}

                </tr>
                <tr>
                    <td><b>CLIENT:</b></td>
                    <td colspan="2">Pacific Basin</td>{{!--replace data from json --}}

                </tr>
                <tr>
                    <td><b>CLIENT REP:</b></td>
                    <td colspan="2">Vallis Lam</td>

                </tr>
                <tr>
                    <td><b>JOB LOCATION:</b></td>
                    <td colspan="2">ORAN - Fremantle Port</td>{{!--replace data from json --}}
                <tr>
                    <td></td>
                    <td colspan="2">WESTERN AUSTRALIA</td>{{!--replace data from json --}}
                </tr>
                <tr>
                    <td><b>DIVE TEAM:</b></td>
                    <td>Supervisor:</td>
                    <td>Brent Dyhberg</td>{{!--replace data from json --}}
                </tr>
                <tr>
                    <td></td>
                    <td> Divers:</td>
                    <td>Daniel Telfer</td>
                </tr>
                <tr>
                    <td></td>
                    <td> </td>
                    <td>Aaron Potterton</td>
                </tr>
                <tr>
                    <td></td>
                    <td> </td>
                    <td>Hamish Brown</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="page">
        <h4>2. METHODOLOGY</h4>

        Franmarine Underwater Services Pty Ltd have been appointed by the client Pacific Basin to conduct a
        Biofouling Inspection in accordance with New Zealand Ministry for Primary Industries (NZMPI) Craft Risk
        Management Standard (CRMS) for biofouling on vessels arriving New Zealand on the vessel MV Bunun Ace.
        <p />
        The inspection work was conducted by qualified divers trained in under water inspection techniques and in
        accordance with client requirements and time schedules. All work was documented using CCTV and HD still
        photography.
        <p />
        Diving operations were conducted from DSV Integrity III using a 4-person dive team in accordance with AS/NZS
        2299.1:2015.
        <p />
        Documents used to assist the project:
        <p />
        • AS/NZS 2299.1:2015
        <p />
        • Franmarine Operations Manual
        <p />
        • NZ MPI Craft Risk Management Standard
        <p />
        • Underwater Inspection Handbook
        <p />
        • Chief Engineers information on the day
        <p />
    </div>
    <div class="page">
        <h4>3. REFERENCE TABLES</h4>
        <p />
        The below tables are referenced throughout the report to formally standardise both biofouling and anti-fouling
        condition ratings referred to herein.
        <p />
        <h3>3.1 PAINT DETERIORATION RATING (PDR) SCALE</h3>
        <p />
        <table class="table">
            <th>RATING</th>
            <th>DESCRIPTION</th>
            <tr>
                <td><b>PDR-10</b></td>
                <td>Anti-Foul (AF) Paint intact.</td>
            </tr>
            <tr>
                <td><b>PDR-20</b></td>
                <td>AF paint missing from edges, corners, seams, welds rivet or bolt heads to expose anti corrosion (AC)
                    paint (undercoat).
                </td>
            </tr>
            <tr>
                <td><b>PDR-30</b></td>
                <td>AF paint missing from slightly curved or flat areas to expose underlying AC paint; An AF paint with
                    visible brush swirl marks within the outermost layer – not extending into underlying layers of
                    paint.
                </td>
            </tr>
            <tr>
                <td><b>PDR-40</b></td>
                <td>AF paint missing from intact blisters to expose AC paint or an AF coating with visible brush swirl
                    marks exposing the next underlying layer of AF or AC paint.
                </td>
            </tr>
            <tr>
                <td><b>PDR-50</b></td>
                <td>AF blisters ruptured to expose intact AC paint.</td>
            </tr>
            <tr>
                <td><b>PDR-60</b></td>
                <td>AF/AC paint missing or peeling to expose steel substrate with corrosion present.
                </td>
            </tr>
            <tr>
                <td><b>PDR-70</b></td>
                <td>AF/AC paint removed from edges, corners, seams, welds rivet or bolt heads to expose steel substrate
                    with corrosion present.
                </td>
            </tr>
            <tr>
                <td><b>PDR-80</b></td>
                <td>Ruptured AF/AC blisters on slightly curved or flat surfaces with corrosion or corrosion stains
                    present.</td>
            </tr>
            <tr>
                <td><b>PDR-90</b></td>
                <td>Area corrosion of steel substrate with no AF/AC paint cover due to peeling or abrasion damage.</td>
            </tr>
            <tr>
                <td><b>PDR-100</b></td>
                <td>Area corrosion showing visible surface evidence of pitting, scaling, and roughening of steel
                    substrate.</td>
            </tr>
        </table>
    </div>
    <div class="page">
        <h4>3.1 PAINT DETERIORATION RATING (PDR) SCALE</h4>
        <p />
        <table>
            <th style="height:70px">TYPE</th>
            <th style="height:70px">FOULING <p/>RATING <p/>(FR)</th>
            <th style="height:70px">DESCRIPTION</th>
            <tr>
                <td>Soft</td>
                <td>0</td>
                <td>A clean, foul-free surface; red and/or black AF paint or bare metal surface.</td>
            </tr>
            <tr>
                <td>Soft</td>
                <td>10</td>
                <td>Light shades of red and green (incipient slime). Bare metal and painted surfaces are visible beneath
                    the fouling.</td>
            </tr>
            <tr>
                <td>Soft</td>
                <td>20</td>
                <td>Slime as dark green patches with yellow or brown colored areas (advanced slime). Bare metal and
                    painted surfaces
                    may be obscured by the fouling.</td>
            </tr>
            <tr>
                <td>Soft</td>
                <td>30</td>
                <td>Grass filaments up to 3 inches (76 mm) in length, projections up to ¼ inch (6.4 mm) in height; or
                    flat network of
                    filaments, green, yellow, or brown in color, or soft non calcareous fouling such as sea cucumbers,
                    sea grapes, or
                    sea squirts projecting up to ¼ inch (6.4 mm) in height. The fouling cannot be easily wiped off by
                    hand.</td>
            </tr>
            <tr>
                <td>Hard</td>
                <td>40</td>
                <td>Calcareous fouling in the form of tube worms less than ¼ inch (6.4 mm) in diameter or height.</td>
            </tr>
            <tr>
                <td>Hard</td>
                <td>50</td>
                <td>Calcareous fouling in the form of barnacles, less than ¼ inch (6.4 mm) in diameter or height.</td>
            </tr>
            <tr>
                <td>Hard</td>
                <td>60</td>
                <td>Combination of tubeworms and barnacles less than ¼ inch (6.4mm) in diameter or height.</td>
            </tr>
            <tr>
                <td>Hard</td>
                <td>70</td>
                <td>Combination of tubeworms and barnacles greater than ¼ inch (6.4 mm) in diameter or height.</td>
            </tr>
            <tr>
                <td>Hard</td>
                <td>80</td>
                <td>Tubeworms closely packed together and growing upright away from surface. Barnacles growing
                    one on top of another, ¼ inch (6.4 mm) or less in height. Calcareous shells appear clean or
                    white in color.</td>
            </tr>
            <tr>
                <td>Hard</td>
                <td>90</td>
                <td>Dense growth of tubeworms with barnacles, ¼ inch (6.4 mm) or greater in height. Calcareous
                    shells brown in color (oysters and mussels); or with slime or grass overlay.</td>
            </tr>
            <tr>
                <td>Composite</td>
                <td>100</td>
                <td>All forms of fouling present, soft and hard, particularly soft sedentary animals without
                    calcareous covering (tunicates) growing over various forms of hard growth.</td>
            </tr>
        </table>
    </div>
    {{#each data.sections}}
        {{#if (eq context "worklog")}}
            {{#if sections.[0]}}
            <h4>{{increment @index}} {{title}}</h1>
            {{!-- subsections --}}
                {{#each sections}}
                    <h5>{{increment @../index}}.{{increment @index}} {{title}}</h5>
                    <p>{{{comments}}}</p>
                    <div>Attachments {{attachmentFolder}}</div>
                    {{#getImages attachmentFolder ../../attachments}}
                        <img height="200px" width="auto" src="{{thumbUri}}" alt="{{title}}"/>
                        <p>{{title}}</p>
                    {{/getImages}}
                {{/each}}
            <p>{{{comments}}}</p>
            {{/if}}
        {{/if}}
    {{/each}}
    <div class="page">
        <h4>5. REPORT SUMMARY</h4>
        <p />
        {{!- the summary below should be dynamic????-}}
        1. Niche Areas; Overall, the Niche areas of the vessel were observed to be less than 1% covered in soft
        slime, consistent with FR-10. No calcareous growth was observed during the inspection.
        <p />
        2. Hull Plate; The hull plating was free from hard marine growth, consistent with FR-0.
        <p />
        3. AFC Condition; The AFC condition was found to be in overall good condition and relatively intact with
        only minor blemishes observed, consistent with PDR-10-30
        <p />

        Please note that additional still photographs may be provided upon client request

        <b> <i> Thank you for the opportunity to provide our services.</i></b>
        <b> <i> If we can be of any future assistance, please do not hesitate to contact us at any time.</i></b>

        <p />
        <p />


    </div>
    <div class="centeredText">
        <h2>END OF REPORT</h2>
    </div>
    <footer>
        F11278- Pacific Basin MV Bunun Ace- BFI
    </footer>
</body>

</html>