<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            background: rgb(204, 204, 204);
        }

        page[size="A4"] {
            background: white;
            width: 21cm;
            height: 29.7cm;
            display: block;
            margin: 0 auto;
            margin-bottom: 0.5cm;
            box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
        }

        @media print {

            body,
            page[size="A4"] {
                margin: 0;
                box-shadow: 0;
            }
        }

        h1 {
            text-align: left;
            font-size: 0.9em;
            margin: 15px
        }

        h2 {
            text-align: left;
            font-size: 1.0em;
            margin: 15px
        }

        ul {
            line-height: 10px;
            margin: 15px
        }

        p {
            font-size: 0.75em;
            margin: 15px
        }

        tr:nth-child(even) {
            background: #f1f4ff
        }

        tr:nth-child(odd) {
            background: #e4ecfc
        }

        table {

            font-family: arial, sans-serif;
            border-collapse: collapse;
            table-layout: fixed;
            width: 95%;
            margin-bottom: 2px;
            margin: 15px;
            margin-right: 15px;
            font-size: 0.75em;
            text-
        }

        .img {
            margin: 15px;
        }

        td {
            font-size: 0.80em;

            padding: 2px;
            margin: 2px;
            text-align: left;
            padding: 5px;
            border: 1px solid #0086c9;
        }



        tr {
            height: 12px
        }

        .header {}

        .noBorder {
            border: none !important;
            padding-top: 50px;
            padding-bottom: 50px;

        }

        #grey {
            background-color: #0086c9;
            color: white;
            font-size: 1.1rem;
        }

        #OfficialBanner {
            border-radius: 25px;
            background: black;
            color: white;
            padding: 10px;
            width: 774px;
            height: 10px;
            vertical-align: middle;
            text-align: center;
            font-size: smaller;
        }

        #blueList {
            list-style-type: circle, #0086c9;
            line-height: 20px;
        }

        ul {
            list-style-type: circle, black;
        }

        #OfficialHeaderList {
            color: #0086c9;
        }

        #centered {
            text-align: center;
        }

        #blue {
            color: #0086c9
        }

        #largeText {
            font-size: 15px;
        }

        #whiteBG {
            background-color: white;
        }

        #secondPageHeader {
            margin-top: 100px;
            padding-top: 50px;
        }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Mooring Inspection Report</title>
    {{#each css}}

    <link rel="stylesheet" href="/{{this}}">
    {{/each}}
</head>

<body>
    <page size="A4">
        <header class="header">
            <img src="https://cdn.marinestream.io/templates/logos/dotMooringReport.png"
                alt="DoT Mooring Inspection Report " width="794px">
        </header>
        <main>
            <div id="OfficialBanner">When blank, this form is classed as <b>OFFICIAL</b>,
                when filled out, this form is classed as <b>OFFICIAL-SENSITIVE.</b>
            </div>
            <div id="OfficialHeaderList">
                <ul id="blueList">
                    <li>Inspection Reports should only be completed by approved mooring contractors.</li>
                    <li>Incomplete applications will not be processed.</li>
                    <li>Inspection Report <b><u>MUST</u></b> include a date stamped photo clearly showing mooring
                        identification number.</li>
                    <li>Submission of this form is the responsibility of the Licensee.</li>
                </ul>
            </div>


            <h1>Inspection report</h1>
            <p>Document type: Standard Report </p>

            <h1>Inspection details</h1>

            <p>MRG number:&nbsp<u>{{data.inspection.mrgNumber}}</u>&nbsp&nbsp&nbspVessel registration
                number
                <i>(vessel secured to mooring at time of
                    inspection)</i>:&nbsp<u>{{data.inspection.regoNumber}}
            </p></u>
            <p>Date of inspection:&nbsp<u>{{formatDateTime data.inspection.inspectionDate.date "dddd DD MMMM YYYY"}}</u>
            </p>

            <h1>Licensee details</h1>
            <p>Licensee name:&nbsp<u>{{data.inspection.licenseeName}}</u>&nbsp&nbsp&nbspC/O -
                individual
                person<i>(Commercial only)</i>:&nbsp<u>{{data.inspection.coIndividualPerson}}C/O HERE</p></u>

            <h1>Mooring details</h1>
            <ul>
                <li>
                    <p>Mooring zone:&nbsp<u>{{data.mooringDetails.mooringControlArea}}</u>&nbsp&nbsp&nbspMooringtype:&nbsp<u>{{data.inspection.mooringType}}</p></u>
                </li>
                <li>
                    <p>Certified maximum vessel length:&nbsp<u>{{data.mooringDetails.maxVesselLength}}</u>
                </li>
                <li>
                    <p>Licensed coordinates - UTM E:&nbsp<u>{{data.mooringDetails.easting}}

                    </u>&nbsp&nbsp&nbspUTM N:&nbsp<u>{{data.mooringDetails.northing}}</p></u>
                </li>
                <li>
                    <p>Coordinates shot on day of inspection - UTM
                        E:&nbsp<u>{{data.mooringDetails.easting}}</u>&nbsp&nbsp&nbspUTM N:&nbsp<u>{{data.mooringDetails.northing}}</p></u>
                </li>
                <li>
                    <p>Datum:&nbsp<u>{{data.inspection.datum}}</u>&nbsp&nbsp&nbspDistance from licensed
                        coordinates:&nbsp<u>{{data.inspection.hasitMoved}}&nbsp </u> </p>
                </li>
                <li>
                    <p>Water depth:&nbsp<u>{{data.inspection.waterDepth}}</u>&nbsp&nbsp&nbspMooring buoy lit <i>(commercial resource
                            only):</i>:&nbsp<u>{{data.inspection.mooringLit}} </u> </p>
                </li>
                <li>
                    <p>ID stickers clear and visible:&nbsp<u>Yes</u>
                </li>
                <li>
                    <p>Mooring Buoy and lines clear of marine growth:&nbsp<u>Yes</u>
                </li>
                <li>
                    <p>Disc colour at time of inspection <i>(Commerical General / Recreation
                            Only):</i>:&nbsp<u>{{data.inspection.colorofDisk}}</u>
                </li>
                <li>
                    <p>Mooring pick up rope - Length:&nbsp<u>({{data.inspection.pickUpRopeLength}})</u>&nbsp&nbspCondition:&nbsp<u>({{data.inspection.pickUpRopeCondition}})</u></p>
                </li>
                <li>
                    <p>General advice on mooring ropes has been provided to the mooring licensee:&nbsp<u>Yes</u></p>
                </li>
                <li>
                    <p>Environmentally friendly:&nbsp<u>{{data.confirmation.environmentallyFriendly}}</u></p>
                </li>
            </ul>

            <p><b>Note:&nbsp</b> All new moorings in Swan and Canning and Mangles Bay Mooring Control Areas must be
                enviornmentally friendly</p>

            <h1>Declaration</h1>
            <p>I declare that at the time of inspection , this mooring was certifed safe and fit for purpose for the
                maximum
                vessel length shown above for windos up to 40 knots. The information contained in this report is true
                and
                accurate.</p>
            <p>Mooring contractor's business name:&nbsp<u>Franmarine Underwater Services Pty Ltd</u>&nbsp&nbsp Phone
                number:&nbsp <u>(08) 9437 3900</u></p>
            <p>Email address: &nbsp<u>operations@franmarine.com.au</u></p>

            <p><b>Mooring contractor's signature:&nbsp </b><u><img
                        src="https://cdn.marinestream.io/templates/e-signatures/AFW_Sig1.png" alt="Signature"
                        width="150"></u>&nbsp <b>Date:</b> <u>{{formatDateTime data.inspection.inspectionDate.date "dddd
                    DD
                    MMMM YYYY"}}</u></p>

            <p id="centered">Completed applications are to be sent to the attention of the Moorings Team</p>
            <p id="centered"><b id="largeText">By email: <u id="blue">Moorings@transport.wa.gov.au</u></b></p>
    </page>
    <page size="A4">

        <h1 id="secondPageHeader">Mooring image</h1>
        <p><b>Click in the area below</b> to add a date stamped photo clearly showing the mooring identifcation number
            and disc</p>
            <div class="img">
        <img src="{{{getImageUri attachments.0.fullUri}}}" width="320"></div>

        <h1>Mooring Components</h1>

        <table>
            <tr>
                <td id='grey'><b>Components</b></td>
                <td id='grey'><b>Description</b></td>
                <td id='grey'><b>Condition&nbsp%</b></td>
                <td id='grey'><b>Comments</b></td>
            </tr>
            {{#if (hasValue data.inspectionDetails.pickUpLine.description)}}
            <tr>
                <td>Pick up Line</td>
                <td>{{{data.inspectionDetails.pickUpLine.description}}}</td>
                <td>{{data.inspectionDetails.pickUpLine.currentInspection.value}}</td>
                <td>{{{data.inspectionDetails.pickUpLine.generalObservation}}}</td>
            </tr>
            {{/if}}
            {{#if (hasValue data.inspectionDetails.surfaceBuoy.description)}}
            <tr>
                <td>Surface Buoy</td>
                <td>{{{data.inspectionDetails.surfaceBuoy.description}}}</td>
                <td>{{data.inspectionDetails.surfaceBuoy.currentInspection.value}}</td>
                <td>{{{data.inspectionDetails.surfaceBuoy.generalObservation}}}</td>
            </tr>
            {{/if}}
            {{#if (hasValue data.inspectionDetails.riser.description)}}
            <tr>
                <td>Riser</td>
                <td>{{{data.inspectionDetails.riser.description}}}</td>
                <td>{{data.inspectionDetails.riser.currentInspection.value}}</td>
                <td>{{{data.inspectionDetails.riser.generalObservation}}}</td>
            </tr>
            {{/if}}
            {{#if (hasValue data.inspectionDetails.pendantChain.description)}}
            <tr>
                <td>Pendant Chain</td>
                <td>{{{data.inspectionDetails.pendantChain.description}}}</td>
                <td>{{data.inspectionDetails.pendantChain.currentInspection.value}}</td>
                <td>{{{data.inspectionDetails.pendantChain.generalObservation}}}</td>
            </tr>
            {{/if}}
            {{#if (hasValue data.inspectionDetails.swivel.description)}}
            <tr>
                <td>Swivel</td>
                <td>{{{data.inspectionDetails.swivel.description}}}</td>
                <td>{{data.inspectionDetails.swivel.currentInspection.value}}</td>
                <td>{{{data.inspectionDetails.swivel.generalObservation}}}</td>
            </tr>
            {{/if}}
            {{#if (hasValue data.inspectionDetails.groundChain1.description)}}
            <tr>
                <td>Ground Chain 1</td>
                <td>{{{data.inspectionDetails.groundChain1.description}}}</td>
                <td>{{data.inspectionDetails.groundChain1.currentInspection.value}}</td>
                <td>{{{data.inspectionDetails.groundChain1.generalObservation}}}</td>
            </tr>
            {{/if}}
            {{#if (hasValue data.inspectionDetails.groundChain11.description)}}
            <tr>
                <td>Ground Chain 1 Ext</td>
                <td>{{{data.inspectionDetails.groundChain11.description}}}</td>
                <td>{{data.inspectionDetails.groundChain11.currentInspection.value}}</td>
                <td>{{{data.inspectionDetails.groundChain11.generalObservation}}}</td>
            </tr>
            {{/if}}
            {{#if (hasValue data.inspectionDetails.groundChain2.description)}}
            <tr>
                <td>Ground Chain 2</td>
                <td>{{{data.inspectionDetails.groundChain2.description}}}</td>
                <td>{{data.inspectionDetails.groundChain2.currentInspection.value}}</td>
                <td>{{{data.inspectionDetails.groundChain2.generalObservation}}}</td>
            </tr>
            {{/if}}
            {{#if (hasValue data.inspectionDetails.groundChain21.description)}}
            <tr>
                <td>Ground Chain 2 Ext</td>
                <td>{{{data.inspectionDetails.groundChain21.description}}}</td>
                <td>{{data.inspectionDetails.groundChain121.currentInspection.value}}</td>
                <td>{{{data.inspectionDetails.groundChain21.generalObservation}}}</td>
            </tr>
            {{/if}}
            {{#if (hasValue data.inspectionDetails.groundChain1.description)}}
            <tr>
                <td>Ground Chain 3</td>
                <td>{{{data.inspectionDetails.groundChain3.description}}}</td>
                <td>{{data.inspectionDetails.groundChain3.currentInspection.value}}</td>
                <td>{{{data.inspectionDetails.groundChain3.generalObservation}}}</td>
            </tr>
            {{/if}}
            {{#if (hasValue data.inspectionDetails.groundChain31.description)}}
            <tr>
                <td>Ground Chain 3 Ext</td>
                <td>{{{data.inspectionDetails.groundChain31.description}}}</td>
                <td>{{data.inspectionDetails.groundChain31.currentInspection.value}}</td>
                <td>{{{data.inspectionDetails.groundChain31.generalObservation}}}</td>
            </tr>
            {{/if}}

            {{#if (hasValue data.inspectionDetails.anchor1.description)}}
            <tr>
                <td>Anchor 1</td>
                <td>{{{data.inspectionDetails.anchor1.description}}}</td>
                <td>{{data.inspectionDetails.anchor1.currentInspection.value}},
                    &nbsp;{{data.inspectionDetails.anchor1.buried}}</td>
                <td>{{{data.inspectionDetails.anchor1.generalObservation}}}</td>
            </tr>
            {{/if}}


        </table>
        </page>
        <page size="A4">
        <table id="secondPageHeader">
            <tr>
                <td id="whiteBG">
                    <h2><b>Additional Comments</b></h2>
                </td>
            </tr>
            <tr>
                <td>{{{data.generalObservation}}}</td>
            </tr>
        </table>

        </main>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <script src='/index.js'></script>
    </page>
</body>