<!DOCTYPE html>
<html lang="en">

<head>


    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        h1 {
            font-size: 28px;
            text-transform: uppercase;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        .centeredText {
            text-align: center !important;
        }

        .flexFullPageContainerFrontPage {
            display: flex;
            flex-direction: column;
            min-height: 80vh
        }

        .centerDivOnPage {
            width: 500px;
            height: 400px;
            background-color: rgb(68, 0, 255);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        .page {
            position: relative;
            background-color: white;
            margin-top: 20px;
            width: 855px;
            height: 1200px;
            box-shadow: 0px 2px 3px rgba(0, 0, 0, .3);
        }

        .footerCoverPage {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding-bottom: 20px;
            align-items: center;
        }

        td,
        th {
            text-align: left;
            border: 1px solid black;
            border: 1px solid black;
            line-height: 50%;
        }

        .noBorder {
            border: none !important;
        }

        .noBorderTopBottom {
            border-top: none !important;
            border-bottom: none !important;
        }

        .noBorderSides {
            border-left: none !important;
            border-right: none !important;
        }

        .noBorderRight {
            border-right: none !important;
        }

        #toc_container {


            display: table;
            margin-bottom: 1em;
            padding: 20px;
            width: 100%;
        }



        #toc_container li,
        #toc_container ul,
        #toc_container ul li {
            list-style: outside none none !important;
        }

        .smallText {
            font-size: 12px;
        }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Mooring Inspection Report</title>


</head>

<body>
    <div class="page">
        <div>
            <table>
                <tr>
                    <td class="noBorder" style="float:left">FUS LOGO HERE</td>
                    <td class="noBorder" style="float:right">Client LOGO HERE</td>
                </tr>
            </table>
            {{!-- {{{getImages attachments.0.fullUri}}} --}}
        </div>

         
        <h1 class="centeredText">Report- ART YOUR CAN GO HERE?</h1>
        <h1 class="centeredText">{{{data.vessel.data.name}}}</h1>
        <h2 class="centeredText">{{data.products}}</h2>
        <h3 class="centeredText">{{data.location.data.portName}}&nbsp; Port</h3>
        <h3 class="centeredText">{{data.actualDelivery.endDateTime.date }}</h3>
        <h3 class="centeredText" style="text-transform: uppercase">Confidential</h3>


        <div class="centerDivOnPage">
            <img>vessel photo goes here</img>
        </div>
        <div class="footerCoverPage">
            <table>
                <tr>
                    <td class="noBorder"><img src="./photos/fuslogo2.png"> </img></td>
                    <td class="noBorder smallText">
                        <p><b>Franmarine Underwater Servies Pty Ltd</b></p>
                    </td>
                    <td class="noBorderTopBottom smallText">
                        <p>Tel: (08)9437 3900</p>
                    </td>
                    <td class="noBorderTopBottom noBorderRight ">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    </td>
                </tr>
                <tr>
                    <td class="noBorder">FUS LOGO HERE</td>
                    <td class="noBorder smallText">
                        <p>13 Possner Way</p>
                    </td>
                    <td class="noBorderTopBottom smallText">
                        <p>www.franmarine.com.au</p>
                    </td>
                    <td class="noBorderTopBottom noBorderRight">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    </td>
                </tr>
                <tr>
                    <td class="noBorder">FUS LOGO HERE</td>
                    <td class="noBorder smallText">
                        <p>Henderson WA 6166</p>
                    </td>
                    <td class="noBorderTopBottom smallText">reception@franmarine.com.au</td>
                    <td class="noBorderTopBottom noBorderRight">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    </td>
                </tr>
                <tr>
                    <td class="noBorder">FUS LOGO HERE</td>
                    <td class="noBorder smallText">
                        <p>Australia</p>
                    </td>
                    <td class="noBorderTopBottom smallText">
                        <p>ABN: 81 059 459</p>
                    </td>
                    <td class="noBorderTopBottom noBorderRight">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    </td>
                </tr>

            </table>

        </div>


    </div>

    <div class="page">
        <div>
            <table>
                <tr>
                    <td class="noBorder" style="float:left">FUS LOGO HERE</td>
                    <td class="noBorder" style="float:right"></td>
                </tr>
            </table>
            {{!-- {{{getImages attachments.0.fullUri}}} --}}
        </div>
        <h1 class="centeredText">Contents</h1>

        <div id="toc_container">
            <ul class="toc_list">
                <li><a href="#Project_Particulars">1 Project Particulars</a>
                <li><a href="#Vessel_Particulars">2 Vessel Particulars</a>
                <li><a href="#Overview">3 Overview</a>
                <li><a href="#Reference_Tables">4 Reference Tables</a>
                    <ul>
                        <li><a href="#Fouling_Ratings(FR)_Scale">4.1 Fouling Ratings (FR) Scale</a></li>
                        <li><a href="#Paint_Deterioration_Rating(PDR)_Scale">4.2 Paint Deterioration Rating (PDR) Scale</a></li>
                    </ul>
                </li>
                <li><a href="#Observations_&_Findings">5 Observations and Findings</a>
                    <ul>
                        <li><a href="#Vessel_Above_Waterline">5.1 Vessel Above Waterline</a></li>
                        <li><a href="#Transom">5.2 Transom</a></li>
                        <li><a href="#Port_Rudder">5.3 Port Rudder</a>
                            <ul>
                                <li><a href="#Trailing_Edge">5.3.1 Trailing Edge</a></li>
                                <li><a href="#Leading_Edge">5.3.2 Leading Edge</a></li>
                                <li><a href="#Rudder_Base_Plate">5.3.3 Rudder Base Plate</a></li>
                                <li><a href="#Rudder_Side_Plates">5.3.4 Rudder Side Plates</a></li>
                                <li><a href="#Rudder_Horn">5.3.5 Rudder Horn</a></li>
                                <li><a href="#Rudder_Jumping_Clearance">5.3.6 Rudder Jumping Clearance</a></li>
                                <li><a href="#Pintle_Bearing_Clearances">5.3.7 Pintle Bearing Clearances</a></li>
                            </ul>
                        </li>
                        <li><a href="#Starboard_Rudder">5.4 Starboard Rudder</a>
                            <ul>
                                <li><a href="#First_Sub_Point_1">1.1 First Sub Point 1</a></li>
                                <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a></li>
                                <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a></li>
                                <li><a href="#First_Sub_Point_1">1.1 First Sub Point 1</a></li>
                                <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a></li>
                                <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a></li>
                                <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a></li>
                            </ul>
                        </li>
                        <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a>
                            <ul>
                                <li><a href="#First_Sub_Point_1">1.1 First Sub Point 1</a></li>
                                <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a></li>
                                <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a></li>
                                <li><a href="#First_Sub_Point_1">1.1 First Sub Point 1</a></li>
                                <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a></li>
                            </ul>
                        </li>
                        <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a>
                            <ul>
                                <li><a href="#First_Sub_Point_1">1.1 First Sub Point 1</a></li>
                                <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a></li>
                                <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a></li>
                                <li><a href="#First_Sub_Point_1">1.1 First Sub Point 1</a></li>
                                <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a></li>
                            </ul>
                        </li>
                        <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a>
                            <ul>
                                <li><a href="#First_Sub_Point_1">1.1 First Sub Point 1</a></li>
                                <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a></li>
                            </ul>
                        </li>
                        <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a>
                            <ul>
                                <li><a href="#First_Sub_Point_1">1.1 First Sub Point 1</a></li>
                                <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a></li>
                            </ul>
                        </li>
                        <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a>
                        </li>
                        <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a>
                        </li>
                        <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a>
                            <ul>
                                <li><a href="#First_Sub_Point_1">1.1 First Sub Point 1</a></li>
                                <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a></li>
                            </ul>
                        </li>
                        <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a>
                            <ul>
                                <li><a href="#First_Sub_Point_1">1.1 First Sub Point 1</a></li>
                                <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a></li>
                            </ul>
                        </li>
                        <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a>
                        </li>
                        <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a>
                        </li>
                        <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a>
                        </li>
                        <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a>
                    <ul>
                        <li><a href="#First_Sub_Point_1">1.1 First Sub Point 1</a></li>
                        <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a></li>
                        <li><a href="#First_Sub_Point_1">1.1 First Sub Point 1</a></li>
                        <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a></li>
                        <li><a href="#First_Sub_Point_1">1.1 First Sub Point 1</a></li>
                    </ul>
                </li>
                <li><a href="#Second_Point_Header">2 Second Point Header</a></li>

            </ul>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src='/index.js'></script>




</body>