<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
        }
        body {
            background: rgb(233, 233, 233);
        }

        page[size="A4"] {
            background: white;
            width: 21cm;
            height: 29.7cm;
            display: block;
            margin: 0 auto;
            margin-bottom: 0.5cm;
            box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
        }

        @media print {

            body,
            page[size="A4"] {
                margin: 0;
                box-shadow: 0;
            }
        }
        h1 {
            text-align: left;
            font-size: 1.1em;
            text-transform: uppercase;
            margin: 15px
        }
        h2 {
            text-transform: uppercase;
            font-size: 0.75em;
            margin: 15px
        }
         p {
            font-size: 0.75em;
            margin: 15px
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 2px;
        }

        td,
        th,
        table,
        p,
            {
            font-size: 0.6;
            padding: 6px;
            margin: 6px;
        }

        td,
        th {

            text-align: left;
            padding: 2px;
            border: 1px solid black;
        }

        tr {
            height: 12px
        }

        .noBorder {
            border: none !important;
            padding-top: 50px;
            padding-bottom: 50px;

        }

        #grey {
            background-color: #dddddd;
        }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Mooring Repair Materials List</title>
    {{#each css}}
    <link rel="stylesheet" href="/{{this}}">
    {{/each}}
</head>

<body>
    <page size="A4">
    <header>
        <img src="https://cdn.marinestream.io/templates/logos/FranMarine_logo_2000x600px.png" alt="Franmarine Logo"
            width="300">
    </header>
    <main>
        <h1>Repair materials list for {{{data.mooring.displayName}}}</h1>
        <h2>Mooring ID</h2>
        <div class="report-container">
            <p>{{{data.mooring.displayName}}}</p>
        </div>
        <h2>Previous Inspection Date (date list was generated)</h2>
        <div class="report-container">
            <p>{{formatDateTime data.inspection.inspectionDate.date "dddd DD MMMM YYYY"}}</p>
        </div>
        <h2>General Observations</h2>
        <div class="report-container">
            <p>{{{data.generalObservation}}}</p>
        </div>
        <h2><b>Mooring Repair Materials List</b></h2>
        <div class="report-container">
            <p>{{{data.repairMaterials}}}</p>
        </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src='/index.js'></script>
</page>
</body>