<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <style>
        * {
            font-family: 'Calibri', sans-serif;
        }

        html {
            background: white;
            display: block;
        }

        #caption {
            font-size: x-small;
        }

        #darkSig {
            -webkit-filter: invert(1);
            filter: invert(1)
        }

        #confidential {
            font-size: 22px;
            letter-spacing: 0px;
            word-spacing: 2px;
            color: #FF0000;
            font-weight: 700;
            text-decoration: none;
            font-style: normal;
            font-variant: normal;
            text-transform: none;
        }

        body {
            max-width: 50em;
            background: white;
            padding: 0;
        }

        .page-header,
        .page-header-space {
            height: 100px;
        }

        .page-footer,
        .page-footer-space {
            height: 100px;

        }

       #tableFixed {
            border-collapse: collapse;
            width: 90%;
            height: 90%;
            table-layout: fixed;
            page-break-inside: auto;
            position: center;
       } 

        table {
            border-collapse: collapse;
            width: 90%;
            height: 90%;
            page-break-inside: auto;
            position: center;
        }

        h1 {

            font-size: 28px;
            text-transform: uppercase;
            text-align: center;
            color: #365F91
        }

        h2 {

            font-size: 22px;
            text-transform: uppercase;
            text-align: center;
            color: #365F91
        }

        h3 {

            font-size: 20px;
            text-transform: uppercase;
            text-align: left;
            color: #365F91;
        }   

        h4 {

            font-size: 18px;
            text-transform: uppercase;
            text-align: left;
            color: #365F91;
            padding-bottom: 0; 
        }

        h4.custom-heading {
            font-size: 18px;
            text-transform: uppercase;
            text-align: left;
            color: #365F91;
            padding-bottom: 0 !important; 
            margin-bottom: 0 !important; 
            line-height: 1;

        }

        h4.custom-heading[style="margin-bottom: 0;"] {
            margin-bottom: 0 !important;
        }
        h5 {

            font-size: 16px;
            text-transform: uppercase;
            text-align: left;
            color: #365F91;
        }

        h6 {
            font-size: 12px;
            text-transform: uppercase;
            text-align: left;
            color: #365F91;
            padding: 25px;
        }


        .page-footer {
            position: fixed;
            align-content: center;
            margin-left: 60px;
            bottom: 0;
            width: 100%;
            border-top: none;
            z-index: 1;

        }

        .page-footer-cover {
            position: absolute;
            align-content: center;
            bottom: 0;
            width: 100%;
            border-top: none;
            z-index: 2;
        }

        .row {
            display: flex;
            justify-content: center !important;
            align-items: center !important;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 0 4px;
        }

        .column img {
            flex: 50%;
            height: auto;
            width: 300px;

            vertical-align: middle;
        }

        .column {
            flex: 50%;
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
        }

        ul.a {
            list-style-type: none;
            font-size: 12px;
            list-style-position: outside;
            margin-top: auto;
            margin-bottom: auto;

        }

        ul.b {
            list-style-type: none;
            font-size: 10px;
            padding: 75px;
            list-style-position: inside;
            margin-top: auto;
            margin-bottom: auto;
        }

        li {
            margin-top: 10px;

        }

        li:first-child {
            margin-top: 0;
        }

        a:link {
            text-decoration: none;
        }

        a,
        a:visited,
        a:hover,
        a:active {
            color: black;
        }

        .page-header {
            position: fixed;
            top: 0mm;
            width: 100%;
        }

        .page {
            page-break-after: always;
            size: A4;
            width: 100%;
            margin: 17mm 5mm 0mm 0mm;

        }

        .centeredText {
            text-align: center !important;
            page-break-inside: auto;
        }



        #container {
            -mz-column-count: 2;
            -webkit-column-count: 2;
            column-count: 2;
            height: 60px;
            width: 40px;
        }

        .block {
            width: 40px;
            height: 40px;
            margin: 0 0 5px 0;
        }

        #grid {
            height: 100px;
            display: grid;
            grid-template-areas: "a a";
            gap: 10px;
            grid-template: repeat(2 1fr);
            grid-auto-columns: 90px;
            grid-auto-flow: column;
        }

        #largeImg {
            max-width: 100%;
            object-fit: contain;
        }

        #largeImgDiv {
            width: 550px
        }



        @page {
            size: A4;
            margin: 17mm 17mm 17mm 17mm;
            page-break-inside: auto;



            @media screen {
                    {
                    size: A4;
                    margin: 17mm 17mm 17mm 17mm;
                }
            }

            @media print {
                thead {
                    display: table-header-group;
                }

                tfoot {
                    display: table-footer-group;
                }

                button {
                    display: none;
                }

                body {
                    margin: 0;
                }
            }


            section {
                page-break-inside: avoid;
            }

            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }

            #center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }

            .centerDivOnPage {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50% -50%);
            }

            #content {
                display: table;
            }

            #pageFooter {
                display: table-footer-group;
            }

            #pageFooter:after {
                counter-increment: page;
                content: counter(name);
            }
    </style>
    <title>
        <div>Supervisors Report Package</div>
    </title>
</head>
<body>
    <div class="section">
        <div class="page-header">
            <table class="table">
                <tr>
                    <td>
                        <img src="https://cdn.marinestream.io/logos/FranMarine_wText_compressed.png" alt="Franmarine Logo"
                            style="max-width:300px;max-height:90px; padding-top:5px; float:left">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </div>
        <div class="page-footer-cover">
            <tr>
                <td><img src="https://cdn.marinestream.io/templates/logos/FooterFUS.png" alt="FUS footer cover page"
                        style="width:790px; float:left"></td>
            </tr>
        </div>
        <table style="width:100%;position:center">

            <thead style="width:100%">
                <tr style="width:90%">
                    <td style="width:90%">
                        <div class="page-header-space"></div>
                    </td>
                </tr>
            </thead>
            <tbody style="width:100%">
                <tr style="width:90%">
                    <td style="width:90%">
                        <div class="page">
                            <h1>Supervisors Report Package</h1>
                            &nbsp;
                            <h2>{{data.project.name}}, {{data.location.job}}, {{data.franmarine.jobNumber}}</h2>
                            <h2>Date: {{formatDateTime data.supervisor.date.date "dddd Do MMMM YYYY"}}</h2>
                            <h2>Vessel / Facility: {{data.vessel.facility}}</h2>
                            <h2></h2>
                        </div>
                        <div class="page">
                            <p></p>
        <div style="page-break-inside: avoid">
                            <h4>1. Client Details</h4>
                        <table style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                            <tr>
                                <td style="padding:5px 5px; background-color: #365F91; height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;"><b>CLIENT:</b></td>
                                <td style="padding:5px 5px; border:1px solid; height:40px; width: 50%;">{{data.client.detail}}</td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;"><b>CLIENT PURCHASE ORDER:</b></td>
                                <td style="padding:5px 5px; border:1px solid; height:40px; width: 50%;">{{data.client.purchaseOrder}}</td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;"><b>CLIENT REPRESENTATIVE:</b></td>
                                <td style="padding:5px 5px;border:1px solid; height:40px; width: 50%;">{{data.client.representative}}</td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;"><b>CLIENT REPRESENTATIVE CONTACT NUMBER:</b></td>
                                <td style="padding:5px 5px;border:1px solid; height:40px; width: 50%;">{{data.contact.number}}</td>
                            </tr>
                        </table>

                        <h4>2. Diver Supervisor</h4>

                        <table style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                            <tr>
                                <td style="padding:5px 5px; background-color: #365F91; height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;"><b>NAME:</b></td>
                                <td style="padding:5px 5px; border:1px solid; height:40px; width: 50%;">{{data.diveSupervisors.name}}</td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;"><b>SIGNATURE:</b></td>
                                <td style="padding:5px 5px; border:1px solid; height:40px; width: 50%;"><img src={{data.diveSupervisors.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                        </table>
                        </div>

                        <div class="page">
                            <p></p>
        <div style="page-break-inside: avoid">
{{#if (lookAtMultiValue (array data.diver1One.name data.diver2One.name data.diver3One.name data.diver4One.name data.diver5One.name data.diver6One.name data.diver7One.name data.diver8One.name ))}}


                        <h4>3. Dive Team</h4>
                        <table style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                            {{#if (hasValue data.diver1One.name)}}
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 33.33%;">Diver 1:</td>
                                <td style="padding:5px 5px;width:33.33%; border:1px solid;">{{data.diver1One.name}}</td>
                                <td style="padding:5px 5px;width:33.33%; border:1px solid;"><img src={{data.diver1One.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            {{/if}}
                            {{#if (hasValue data.diver2One.name)}}
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 33.33%;">Diver 1:</td>
                                <td style="padding:5px 5px;width:33.33%; border:1px solid;">{{data.diver2One.name}}</td>
                                <td style="padding:5px 5px;width:33.33%; border:1px solid;"><img src={{data.diver2One.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 33.33%;">Diver 2:</td>
                                <td style="padding:5px 5px;width:33.33%; border:1px solid;">{{data.diver2One.name}}</td>
                                <td style="padding:5px 5px;width:33.33%; border:1px solid;"><img src={{data.diver2One.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            {{/if}}
                            {{#if (hasValue data.diver3One.name)}}
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 33.33%;">Diver 1:</td>
                                <td style="padding:5px 5px;width:33.33%; border:1px solid;">{{data.diver3One.name}}</td>
                                <td style="padding:5px 5px;width:33.33%; border:1px solid;"><img src={{data.diver3One.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>

                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 33.33%;">Diver 2:</td>
                                <td style="padding:5px 5px;width:33.33%; border:1px solid;">{{data.diver3Two.name}}</td>
                                <td style="padding:5px 5px;width:33.33%; border:1px solid;"><img src={{data.diver3Two.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>

                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 33.33%;">Diver 3:</td>
                                <td style="padding:5px 5px;width:33.33%; border:1px solid;">{{data.diver3Three.name}}</td>
                                <td style="padding:5px 5px;width:33.33%; border:1px solid;"><img src={{data.diver3Three.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            {{/if}}
                            {{#if (hasValue data.diver4One.name)}}
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 33.33%%;">Diver 1:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver4One.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver4One.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 33.33%%;">Diver 2:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver4Two.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver4Two.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 33.33%%;">Diver 3:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver4Three.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver4Three.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 33.33%%;">Diver 4:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver4Four.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver4Four.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            {{/if}}
                            {{#if (hasValue data.diver5One.name)}}
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 1:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver5One.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver5One.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 2:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver5Two.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver5Two.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 3:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver5Three.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver5Three.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 4:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver5Four.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver5Four.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 5:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver5Five.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver5Five.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            {{/if}}
                            {{#if (hasValue data.diver6One.name)}}
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 1:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver6One.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver6One.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 2:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver6Two.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver6Two.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 3:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver6Three.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver6Three.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 4:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver6Four.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver6Four.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 5:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver6Five.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver6Five.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 6:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver6Six.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver6Six.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            {{/if}}
                            {{#if (hasValue data.diver7One.name)}}
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 1:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver7One.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver7One.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 2:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver7Two.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver7Two.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 3:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver7Three.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver7Three.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 4:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver7Four.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver7Four.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 5:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver7Five.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver7Five.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 6:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver7Six.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver7Six.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 7:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver7Seven.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver7Seven.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            {{/if}}
                            {{#if (hasValue data.diver8One.name)}}
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 1:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver8One.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver8One.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 2:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver8Two.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diverdiver8TwoOne.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 3:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver8Three.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver8Three.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 4:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver8Four.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver8Four.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 5:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver8Five.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver8Five.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 6:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver8Six.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver8Six.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 7:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver8Seven.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver8Seven.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;">Diver 8:</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;">{{data.diver8Eight.name}}</td>
                                <td style="padding:5px 5px;width:50px; border:1px solid;"></td><img src={{data.diver8Eight.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} /></td>
                            </tr>
                            {{/if}}
                            </table>
                        </div>
                        </div>
         {{/if}}
        <div class="page">
        <div style="page-break-inside: avoid">
                            {{#if (hasValue data.toolbox.facilitated.by)}}
                            <h4>4. TOOLBOX</h4>
                        <table style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                            <tr>
                                <td style="padding:5px 5px; background-color: #365F91; height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;"><b>Toolbox Facilitated By:</b></td>
                                <td style="padding:5px 5px; border:1px solid; height:40px; width: 50%;">{{data.toolbox.facilitated.by}}</td>
                            </tr>
                            <tr style="border:1px solid;">
                                <td style="padding:5px 5px; background-color: #365F91;height:40px; border:1px solid #000; color: rgb(255, 255, 255); width: 50%;"><b>Time of Toolbox:</b></td>
                                <td style="padding:5px 5px; border:1px solid; height:40px; width: 50%;">{{data.timeToolbox.date}}</td>                            
                            </tr>
                        </table>
                        <br>
                        <h5>Attendees Present</h5>
                            <table id="tableFixed" style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                                <thead style="background-color: #365F91;height:30px; border:1px solid #000; padding-top: 5px; padding:10px 0px; color: rgb(255, 255, 255);">
                                <tr>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Name</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Company</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.attendees.present}}
                                <tr>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{nameattendees}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{companys}}</td>
                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                            <br>
                            <h5>Scope Of Work Discussed</h5>
                            {{{data.scope.of.work.discussed}}}
                            </div>
                            
                            <h5>Potential Hazards Identified and Discussed</h5>
                            <table id="tableFixed" style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                                <thead style="background-color: #365F91;height:30px; border:1px solid #000; padding-top: 5px; padding:10px 0px; color: rgb(255, 255, 255);">
                                <tr>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Issues</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Resolved</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.potential.hazards.check}}
                                <tr>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{issues}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{resolved}}</td>
                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
<div class="page">
                            <h5>Environmental Aspects</h5>
                            <br>
                            <table id="tableFixed" style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                                <thead style="background-color: #365F91;height:30px; border:1px solid #000; padding-top: 5px; padding:10px 0px; color: rgb(255, 255, 255);">
                                <tr>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Impact</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Control</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.environmental.aspects.check}}
                                <tr>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{impact}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{control}}</td>
                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
<div class="page">
                            <h5>Requirement Checklist</h5>
                  
                            <table id="tableFixed" style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                                <thead style="background-color: #365F91;height:30px; border:1px solid #000; padding-top: 5px; padding:10px 0px; color: rgb(255, 255, 255);">
                                <tr>
                                    <th style="background-color: #365F91; width:50%; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Requirement</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Complete</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Checked</th>

                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.requirements.check}}
                                <tr>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{requirement}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq complete "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq checked "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                          
                    
                            <h5>Considered Safe to Proceed: {{#if (eq data.considered.safe.to.proceed "true")}}&#10003 YES{{else}}&#10007; NO{{/if}}</h5>
                            {{/if}}
</div>
                            
                            {{#each attachments}}
                            {{#if (eq path "DiveHat")}}
                            <h4>5. Dive Hat Daily Check</h4>
                            <img src="{{getImageUri fullUri}}" alt="Dive Hat Check Uploaded Document / Photo" id="largeImg" />
                            {{/if}}
                            {{/each}}
                            {{#if data.fus.equipment.check.[0].type}}
                            <h4>6. Equipment</h4>
                            <h5>FUS Equipment</h5>
                            <table id="tableFixed" style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                                <thead style="background-color: #365F91;height:30px; border:1px solid #000; padding-top: 5px; padding:10px 0px; color: rgb(255, 255, 255);">
                                <tr>
                                    <th style="background-color: #365F91; width:30%; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Type</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Asset ID</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Daily Log and Maintenance Completed?</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.fus.equipment.check}}
                                <tr>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{type}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{assetid}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq dailylog "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{commentequip}}</td>

                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                            <h5>Upload Daily Log and Maintenance Book</h5>
                            {{#each attachments}}
                            {{#if (eq path "LogMaintenance")}}
                            <img src="{{getImageUri fullUri}}" alt="Upload Daily Log and Maintenance Book / Photo" id="largeImg" />
                            {{/if}}
                            {{/each}}
                            {{/if}}
                            </div>
                            <div class="page">
                            {{#each attachments}}
                            {{#if (eq path "Manuals")}}
                            <h4>7. Resources</h4>
                            <h5>SWPs and Manuals</h5>
                            <img src="{{getImageUri fullUri}}" alt="SWP's and Manuals / Photo" id="largeImg" />
                            {{/if}}
                            {{/each}}
                            {{#if data.table.diver.check.[0].surfaceinterval}}
                            <h4>8. Dive Logs</h4>
                            <h5>Table Used: DCEIM</h5>
                            <table id="tableFixed" style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                                <thead style="background-color: #365F91;height:30px; border:1px solid #000; padding-top: 5px; padding:10px 0px; color: rgb(255, 255, 255);">
                                <tr>
                                    <th style="font-size:10px; background-color: #365F91; width:7.69%; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Diver No.</th>
                                    <th style="font-size:10px; background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Surface Interval</th>
                                    <th style="font-size:10px;background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Repetitive Factor</th>
                                    <th style="font-size:10px; background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Bail Out Pressure</th>
                                    <th style="font-size:10px; background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Hat Secure</th>
                                    <th style="font-size:10px; background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Left Surface</th>
                                    <th style="font-size:10px; background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Depth</th>
                                    <th style="font-size:10px; background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Test</th>
                                    <th style="font-size:10px; background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Left Bottom</th>
                                    <th style="font-size:10px; background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Bottom Time</th>
                                    <th style="font-size:10px; background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Arrived Surface</th>
                                    <th style="font-size:10px; background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Total Dive Time</th>
                                    <th style="font-size:10px; background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Repetitive Group</th>

                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.table.diver.check}}
                                <tr>
                                    <td style="font-size:12px; border:1px solid; padding:5px 5px; word-wrap:break-word;">{{divernum}}</td>
                                    <td style="font-size:12px; border:1px solid; padding:5px 5px; word-wrap:break-word;">{{surfaceinterval}}</td>
                                    <td style="font-size:12px; border:1px solid; padding:5px 5px; word-wrap:break-word;">{{repetitivefactor}}</td>
                                    <td style="font-size:12px; border:1px solid; padding:5px 5px; word-wrap:break-word;">{{bailoutpressure}}</td>
                                    <td style="font-size:12px; border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq hatsecure "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="font-size:12px; border:1px solid; padding:5px 5px; word-wrap:break-word;">{{leftsurface}}</td>
                                    <td style="font-size:12px; border:1px solid; padding:5px 5px; word-wrap:break-word;">{{depth}}</td>
                                    <td style="font-size:12px; border:1px solid; padding:5px 5px; word-wrap:break-word;">{{test}}</td>
                                    <td style="font-size:12px; border:1px solid; padding:5px 5px; word-wrap:break-word;">{{leftbottom}}</td>
                                    <td style="font-size:12px; border:1px solid; padding:5px 5px; word-wrap:break-word;">{{bottomtime}}</td>
                                    <td style="font-size:12px; border:1px solid; padding:5px 5px; word-wrap:break-word;">{{arrivedsurface}}</td>
                                    <td style="font-size:12px; border:1px solid; padding:5px 5px; word-wrap:break-word;">{{totaldive}}</td>
                                    <td style="font-size:12px; border:1px solid; padding:5px 5px; word-wrap:break-word;">{{repetitivegroup}}</td>
                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                            <h5>Supervisors Signature</h5>
                            <table style="width:100%">
                                <tr style="border:1px solid;padding:5px 5px;">
                                    <td colspan="4" style="padding:5px 5px; background-color: #365F91; text-align:center;color:rgb(255, 255, 255); border:1px solid #000;">
                                        Signature and Date</td>
                                </tr>
                                <tr style="border:1px solid; padding:5px 5px;">
                                    <td style="border:1px solid" colspan="4"><b>Signed:</b><img src={{data.tableSupervisor.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}} />
                                        {{#if (hasValue data.tableSupervisor.signature.signature)}}
                                        <p><b>Date: </b>{{formatDateTime data.tableSupervisor.signature.date "dddd DD MMMM YYYY"}}</p>
                                        {{/if}}
                                    </td>
                                </tr>
                            </table>

                            </div>
                            {{/if}}
                  
                            <div class="page">
                                {{#if data.activity.log.check.[0].dailyactivity }}
                            <h4>9. Activity Log</h4>
                            <br>
                            <table id="tableFixed" style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                                <thead style="background-color: #365F91;height:30px; border:1px solid #000; padding-top: 5px; padding:10px 0px; color: rgb(255, 255, 255);">
                                <tr>
                                    <th style="background-color: #365F91; width:50%; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Time</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Daily Activity</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.activity.log.check}}
                                <tr>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{time}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{dailyactivity}}</td>
                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                            {{/if}}
                            {{#if data.attendeesTwo.[0].anames}}
                            <h4>10. Emergency Drill Report</h4>
                            <h5>Attendees Present</h5>
                            <table id="tableFixed" style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                                <thead style="background-color: #365F91;height:30px; border:1px solid #000; padding-top: 5px; padding:10px 0px; color: rgb(255, 255, 255);">
                                <tr>
                                    <th style="background-color: #365F91; width:50%; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Name</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Company</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.attendeesTwo}}
                                <tr>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{anames}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{acompanys}}</td>
                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                            <h5>Emergency Drills</h5>
                            <table id="tableFixed" style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                                <thead style="background-color: #365F91;height:30px; border:1px solid #000; padding-top: 5px; padding:10px 0px; color: rgb(255, 255, 255);">
                                <tr>
                                    <th style="background-color: #365F91; width:50%; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Time</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Emergency Drill Step</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.drills.check}}
                                <tr>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{formatDateTime etime.date "dddd DD MMMM YYYY"}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{drillstep}}</td>
                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                            <h5>Equipment Used</h5>
                            {{{data.equipmentUsed}}}
                            <h5>Comments</h5>
                            {{{data.comments}}}
                            </div>
                            <div class="page">
                            {{/if}}
                            {{#if data.isolation.descrip.check.[0].isodescriptions}}
                            <h4>11. Dive Permit and Isolations</h4>
                            <h5>Isolations</h5>
                            <table id="tableFixed" style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                                <thead style="background-color: #365F91;height:30px; border:1px solid #000; padding-top: 5px; padding:10px 0px; color: rgb(255, 255, 255);">
                                <tr>
                                    <th style="background-color: #365F91; width:30%; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Isolation Descritpion</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Exempt</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Initial If Tagged</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Tag Verified</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.isolation.descrip.check}}
                                <tr>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{isodescriptions}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq exempt "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{decription}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq verified "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>

                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                            </div>
                            <div class="page">
                            <h5>Exemptions</h5>
                            <table id="tableFixed" style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                                <thead style="background-color: #365F91;height:30px; border:1px solid #000; padding-top: 5px; padding:10px 0px; color: rgb(255, 255, 255);">
                                <tr>
                                    <th style="background-color: #365F91; width:30%; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Equipment Exemptions</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Location</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.exemptions.check}}
                                <tr>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{equipmentexemptions}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{location}}</td>
                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                            <h5>Simultaneous Operations and Communication</h5>
                            {{{data.simultaneous.operations}}}
                            <h5>Work Description and Location </h5>
                            {{{data.work.description}}}
                            <h5>The Permit is Valid Until </h5>
                            {{{formatDateTime data.permitValid.date.date "dddd DD MMMM YYYY"}}}
                            <h5>Supervisors Signature</h5>
                            <table style="width:100%">
                                <tr style="border:1px solid;padding:5px 5px;">
                                    <td colspan="4" style="padding:5px 5px; background-color: #365F91; text-align:center;color:rgb(255, 255, 255); border:1px solid #000;">
                                        Signature and Date</td>
                                </tr>
                                <tr style="border:1px solid; padding:5px 5px;">
                                    <td style="border:1px solid" colspan="4"><b>Name:</b>{{data.permirSupervisor.signature.user.name}}<p><b>Signed:</b><img src={{data.permirSupervisor.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}}</p> 
                                        {{#if (hasValue data.permirSupervisor.signature.signature)}}
                                        <p><b>Date: </b>{{formatDateTime data.permirSupervisor.signature.date "dddd DD MMMM YYYY"}}</p>
                                        {{/if}}
                                    </td>
                                </tr>
                            </table>
                              <h5>Engineer / Master's Signature</h5>
                             <table style="width:100%">
                                <tr style="border:1px solid;padding:5px 5px;">
                                    <td colspan="4" style="padding:5px 5px; background-color: #365F91; text-align:center;color:rgb(255, 255, 255); border:1px solid #000;">
                                        Signature and Date</td>
                                </tr>
                                <tr style="border:1px solid; padding:5px 5px;">
                                    <td style="border:1px solid" colspan="4"><b>Name:</b>{{data.engineerMaster.name}}<p><b>Signed:</b><img src={{data.engineer.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}}</p> 
                                        {{#if (hasValue data.engineer.signature.signature)}}
                                        <p><b>Date: </b>{{formatDateTime data.engineer.signature.date "dddd DD MMMM YYYY"}}</p>
                                        {{/if}}
                                    </td>
                                </tr>
                            </table>
                            {{/if}}
</div>
<div class="page">          


                            <h4>12. Onsite Inspection Checklist</h4>
                         
                            
                            <h5>1. Fire and Safety</h5>
                            <table id="tableFixed" style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                                <thead style="background-color: #365F91;height:30px; border:1px solid #000; padding-top: 5px; padding:10px 0px; color: rgb(255, 255, 255);">
                                <tr>
                                    <th style="background-color: #365F91; width:30%; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Item</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Checked</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">N/A</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.fire.safety.check}}
                                <tr>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{item}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq fchecked "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq fna "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{fcomments}}</td>

                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                          
                            <h5>2. Electrical</h5>
                            <table id="tableFixed" style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                                <thead style="background-color: #365F91;height:30px; border:1px solid #000; padding-top: 5px; padding:10px 0px; color: rgb(255, 255, 255);">
                                <tr>
                                    <th style="background-color: #365F91; width:30%; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Item</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Checked</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">N/A</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.electrical.check}}
                                <tr>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{electricalitem}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq echecked "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq ena "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{ecomments}}</td>

                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                            </div>
                            <div class="page">
                            <h5>3. General Lighting</h5>
                            <table id="tableFixed" style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                                <thead style="background-color: #365F91;height:30px; border:1px solid #000; padding-top: 5px; padding:10px 0px; color: rgb(255, 255, 255);">
                                <tr>
                                    <th style="background-color: #365F91; width:30%; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Item</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Checked</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">N/A</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.general.lighting.check}}
                                <tr>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{generalitem}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq gchecked "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq gna "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{gcomments}}</td>

                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                            <h5>4. Walkways</h5>
                            <table id="tableFixed" style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                                <thead style="background-color: #365F91;height:30px; border:1px solid #000; padding-top: 5px; padding:10px 0px; color: rgb(255, 255, 255);">
                                <tr>
                                    <th style="background-color: #365F91; width:30%; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Item</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Checked</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">N/A</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.walkways.check}}
                                <tr>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{walkitem}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq wchecked "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq wna "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{wcomments}}</td>

                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                            </div>
                            <div class="page">
                            <h5>5. Rubbish</h5>
                            <table id="tableFixed" style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                                <thead style="background-color: #365F91;height:30px; border:1px solid #000; padding-top: 5px; padding:10px 0px; color: rgb(255, 255, 255);">
                                <tr>
                                    <th style="background-color: #365F91; width:30%; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Item</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Checked</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">N/A</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.rubbish.check}}
                                <tr>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{rubitem}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq rchecked "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq rna "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{rcomments}}</td>

                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                            <h5>6. Work Area</h5>
                            <table id="tableFixed" style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                                <thead style="background-color: #365F91;height:30px; border:1px solid #000; padding-top: 5px; padding:10px 0px; color: rgb(255, 255, 255);">
                                <tr>
                                    <th style="background-color: #365F91; width:30%; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Item</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Checked</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">N/A</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.work.area.check}}
                                <tr>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{workitem}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq wchecked "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq wna "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{wcomments}}</td>

                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                            </div>
                            <div class="page">
                            <h5>7. Storage</h5>
                            <table id="tableFixed" style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                                <thead style="background-color: #365F91;height:30px; border:1px solid #000; padding-top: 5px; padding:10px 0px; color: rgb(255, 255, 255);">
                                <tr>
                                    <th style="background-color: #365F91; width:30%; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Item</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Checked</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">N/A</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.storage.check}}
                                <tr>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{storageitem}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq schecked "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq sna "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{scomments}}</td>

                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                            <h5>8. Chemicals</h5>
                            <table id="tableFixed" style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                                <thead style="background-color: #365F91;height:30px; border:1px solid #000; padding-top: 5px; padding:10px 0px; color: rgb(255, 255, 255);">
                                <tr>
                                    <th style="background-color: #365F91; width:30%; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Item</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Checked</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">N/A</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.chemicals.check}}
                                <tr>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{chemitem}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq chchecked "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq chna "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{chcomments}}</td>

                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                            </div>
                            <div class="page">
                            <h5>9. First Aid</h5>
                            <table id="tableFixed" style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                                <thead style="background-color: #365F91;height:30px; border:1px solid #000; padding-top: 5px; padding:10px 0px; color: rgb(255, 255, 255);">
                                <tr>
                                    <th style="background-color: #365F91; width:30%; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Item</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Checked</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">N/A</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.first.aid.check}}
                                <tr>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{aiditem}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq aichecked "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq aina "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{aicomments}}</td>

                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                            <h5>10. Ground</h5>
                            <table id="tableFixed" style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                                <thead style="background-color: #365F91;height:30px; border:1px solid #000; padding-top: 5px; padding:10px 0px; color: rgb(255, 255, 255);">
                                <tr>
                                    <th style="background-color: #365F91; width:30%; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Item</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Checked</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">N/A</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.ten.ground.check}}
                                <tr>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{grounditem}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq grchecked "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq grna "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{grcomments}}</td>

                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                            </div>
                            <div class="page">
                            <h5>11. Equipment</h5>
                            <table id="tableFixed" style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                                <thead style="background-color: #365F91;height:30px; border:1px solid #000; padding-top: 5px; padding:10px 0px; color: rgb(255, 255, 255);">
                                <tr>
                                    <th style="background-color: #365F91; width:30%; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Item</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Checked</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">N/A</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.eleven.equipment.check}}
                                <tr>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{elevenitem}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq elvchecked "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq elvna "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{elvcomments}}</td>

                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                            <h5>12. Display Material</h5>
                            <table id="tableFixed" style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                                <thead style="background-color: #365F91;height:30px; border:1px solid #000; padding-top: 5px; padding:10px 0px; color: rgb(255, 255, 255);">
                                <tr>
                                    <th style="background-color: #365F91; width:30%; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Item</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Checked</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">N/A</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.display.material.check}}
                                <tr>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{dispitem}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq dischecked "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq disna "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{discomments}}</td>

                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                            </div>
                            <div class="page">
                            <h5>13. WHS Information</h5>
                            <table id="tableFixed" style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                                <thead style="background-color: #365F91;height:30px; border:1px solid #000; padding-top: 5px; padding:10px 0px; color: rgb(255, 255, 255);">
                                <tr>
                                    <th style="background-color: #365F91; width:30%; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Item</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Checked</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">N/A</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.whs.information.check}}
                                <tr>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{whsitem}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq whschecked "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq whsna "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{whscomments}}</td>

                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                            <h5>14. PPE</h5>
                            <table id="tableFixed" style="border:1px solid #000; border-collapse:collapse; width:100%; position:center;">
                                <thead style="background-color: #365F91;height:30px; border:1px solid #000; padding-top: 5px; padding:10px 0px; color: rgb(255, 255, 255);">
                                <tr>
                                    <th style="background-color: #365F91; width:30%; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Item</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Checked</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">N/A</th>
                                    <th style="background-color: #365F91; height:30px; border:1px solid #000; padding:5px 5px;color: rgb(255, 255, 255);">Comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.ppe.check}}
                                <tr>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{ppeitem}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq ppechecked "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{#if (eq ppena "true")}}<p>&#10003 YES</p>{{else}}<p>&#10007; NO</p>{{/if}}</td>
                                    <td style="border:1px solid; padding:5px 5px; word-wrap:break-word;">{{ppecomments}}</td>

                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                             <div style="page-break-inside: avoid">
                            <h5>Additonal Comments </h5>
                            {{{data.addition.comment}}}
                            <h5>Completion Signature</h5>
                            <table style="width:100%">
                                <tr style="border:1px solid;padding:5px 5px;">
                                    <td colspan="4" style="padding:5px 5px; background-color: #365F91; text-align:center;color:rgb(255, 255, 255); border:1px solid #000;">
                                        Signature and Date</td>
                                </tr>
                                <tr style="border:1px solid; padding:5px 5px;">
                                    <td style="border:1px solid" colspan="4"><b>Name:</b>{{data.onsite.completed.by}}<p><b>Signed:</b><img src={{data.onsite.signature.signature}} width="80%" , {{#if (isDarkMode)}}id="darkSig" {{/if}}</p> 
                                        {{#if (hasValue data.onsite.signature.signature)}}
                                        <p><b>Date: </b>{{formatDateTime data.onsite.signature.date "dddd DD MMMM YYYY"}}</p>
                                        {{/if}}
                                    </td>
                                </tr>
                            </table>
    <tfoot style="width:90%">
        <tr>
            <td style="width:90%">
                <!--place holder for the fixed-position footer-->
            </td>
        </tr>
    </tfoot>
    </table>
    </div>
    </div>
    </div>
</body>

</html>